<div class="center">
    <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="landing_page.html" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="index_incident.html" class="nav-link px-2 text-muted">Incident Page</a></li>
            <li class="nav-item"><a onclick="handleLoginLogoutClick()" class="nav-link px-2 text-muted">Login</a></li>
            <li class="nav-item"><a href="register.html" class="nav-link px-2 text-muted">Register</a></li>
            <li class="nav-item"><a href="about_us.html" class="nav-link px-2 text-muted">About Us</a></li>
          </ul>
          <p class="text-center text-muted">&copy; Web Builders Inc.</p>
        </footer>
    </div>
</div>
