<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header') %>
    
    <title>Incident Viewer</title>
</head>

<body>

    <%- include ('partials/nav_bar') %>

    <div class="landing_content">
        <h1>Welcome To The Web Builders</h1>
        <a href="index_incident.html"><button>View the Incident Page</button></a>
        <img id="bigLogo" src="logo.png" alt="logo">

    </div>
</body>

</html>