<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header') %>
    
    <title>About Us</title>
</head>

<body>
    <%- include ('partials/nav_bar') %>
    <h1>About Us</h1>
    <div>
        <p class="aboutusdescription">
            Welcome to Web Builders, where we bring your digital vision to life! As passionate web developers, 
            we understand the power of a captivating online presence. 
            Our journey began with a shared commitment to transforming ideas into interactive and visually stunning websites.
            With a team of seasoned developers, designers, and digital strategists, we thrive on pushing the boundaries of innovation.
            Whether you're a startup looking for a dynamic launchpad or an established business aiming to revamp your online identity, 
            we've got you covered. At Web Builders, we blend creativity with cutting-edge technology to craft websites that not only look exceptional but also perform seamlessly. 
            Our mission is to empower businesses and individuals by providing them with tailor-made, user-friendly, and responsive web solutions. Join us in the exciting realm of digital possibilities, and 
            let's build your success story together!
        </p>
    </div>
    <div class="developers">
        <div class="portraits">
            <img src="img/shane.png" alt="Shane Koester" class="shane">
            <p class="caption">
                Hey, I'm Shane Koester. I'm a student at Centennial College taking an Advanced Diploma in Artificial Intelligence - Software Engineering Technology.
           </p>
        </div>
        <div class="portraits">
            <img src="img/uday.png" alt="Uday Kurien" class="uday">
            <p class="caption">
                Hi, I am Uday.
                I have a background in physical sciences and i'm working towards an advanced diploma
                in Artificial Intellegince - Software Engineering at Centennial College.
           </p>
        </div>
        <div class="portraits">
            <img src="img/josh.jpg" alt="Joshua Morales" class="josh">
            <p class="caption">
                Hello. my name is Joshua Morla Morales.
                 I am a Software Engineering Technician student attending Centennial College's Online Campus 
                 and currently working as the Front End Developer for Web Builders.
            </p>
        </div>
    </div>
    <%- include ('partials/footer') %>
</body>
</html>