<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header') %>
    
    <title>Incident Viewer</title>
</head>

<body>

    <%- include ('partials/nav_bar') %>

    <div class="landing_content">
        <h1>Welcome To The Web Builders Website</h1>
        <img id="bigLogo" src="logo.png" alt="logo">
        <div class="homepage">
            <h2 class="homepage">We Log Incidents in the Workplace</h2>
            <p class="description">Tired of logging incidents happening at your workplace on Paper? Look to our Website to keep track of incidents. All you have to do is click the buttons below.</p>
            <div class="buttons">
                <button><a href="index_incident.html" class="btn">View Incidents</a></button>
                <button><a href="new_incident.html" class="btn">Add an Incident</a></button>
                <button><a href="update_incident.html" class="btn">Update an Incident</a></button>
            </div>
        </div>

    </div>
    <%- include ('partials/footer') %>
</body>

</html>